<div class="row text-center">
    <div class="col-sm-0 col-md-1"></div>
    <div class="col-sm-12 col-md-10 center-window">
        <%= image_tag 'logo.png' %>
        <h1>Vida universitaria hecha simple</h1>
        <%= generate_link %>
        <%= teachers_link %>
        <div class="row">
            <h2>Síguenos:</h2>
            <a href="https://www.fb.me/projectrutu" target="_blank">
                <%= image_tag "fcb.png" %>
            </a>
            <a href="https://twitter.com/linkuacademics">
                <%= image_tag "twitter.png" %>
            </a>
        </div>
    </div>
    <div class="col-sm-0 col-md-1"></div>
</div>
